html {
    background-image: url("https://live.staticflickr.com/65535/49897279937_e78c66e0ae_b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    display: flex;
    font-size: 2em;
    font-weight: bold;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #85144b
    
}


.list ul{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.list .shop{
    border: 3px solid #85144b;
    border-radius: 7px;
    margin-left: 0.5em;
        flex: 0 20 30%;
    font-size: 1em;
    background-color: #dddddd;
    color: #85144b;
    margin:2px;
    font-weight: bold;
    opacity: 0.8;
    
}


h2{
    font-size: 12px;
    font-weight: 100;
    margin: 1px;
    

}

h3{
    font-size: .85em;
    font-weight: 100;
    margin: 1px;
   

}
h4 {
    font-size: .85em;
    font-weight: 100;
    margin: 1px;
}

#block_container {
    display: flex;
    justify-content: center;

}

.website {
    display: flex;
    /* border: 1px dotted grey; */
    color: whitesmoke;
    font-size: small;
    padding: 1px 20px 1px 20px;
    margin: 2px 7px 2px 7px;
}

.menu {
    display: flex;
    /* border: 1px dotted grey; */
    color: whitesmoke;
    font-size: small;
    padding: 1px 20px 1px 20px;
    margin: 2px 7px 2px 7px;
}
a {
    color: #85144b;
}